*{margin: 0;
padding: 0;
}
h1, h2, h3 {
    padding: 5% 5% 5% 5%;
    font-size: 2rem;
    text-align: center;
}

#main-wrapper{padding: 20%;}

p{padding: 20%}

h1 {font-size: 2.7rem}

label {display: block; padding: 1%}
button {display: block; padding: 1% 5% 1% 5%}
input {padding-bottom: 5%; margin: 1%}
#game-selection {padding-bottom: 0}
form label {display: inline}
